* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

div {
  -webkit-user-select: none; /* Chrome, Safari, Opera */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard */
}
